body {
    background-image: linear-gradient(to right, gray, white);
    font-family: "copperplate";
}
.darkMode {
    background-image: linear-gradient(to right, black, gray);
    font-family: "copperplate";
    color: white
}
h1 {
    color: #8B0000;
    font-family: "copperplate";
}
img {
    height: 300px;
    width: auto
}
.imgMouseOver {
    height: 600px;
    width: auto
}
