body {
    background-color: azure;
    color: black;
    font-family: "copperplate";
}
.lightMode {
    background-color: azure;
    color: black;
    font-family: "copperplate";
}
.darkMode {
    background-color: black;
    color: azure;
    font-family: "copperplate";
}
h1 {
    color: red;
    font-family: "copperplate";
}
img {
    height: 300px;
    width: auto
}
.imgMouseOver {
    height: 600px;
    width: auto
}
.imgOut {
    height: 300px;
    width: auto
}